/Gemfile.lock
.DS_STORE
.bundle/
/.vscode/
/.yardoc
/_yardoc/
/bin/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bazel-*
.rakeTasks
.tool-versions
/.idea/
/node_modules/
/package-lock.json
/.toys/**/Gemfile.lock
