name: Tag Generator Release
on:
  push:
    branches: [main]
    paths: 'gapic-generator/**'
  workflow_dispatch:
    inputs:
      args:
        description: "Extra command line arguments."
        required: false

jobs:
  github-release:
    if: ${{ github.repository == 'googleapis/gapic-generator-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
      packages: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Ruby 3.4
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4.8"
      - name: Install tools
        run: "gem install --no-document toys"
      - name: Execute
        shell: bash
        run: |
          toys release tag-generators -v --remote=origin ${{ github.event.inputs.args }}
