name: Tag Generator Release
on:
  push:
    branches: [main]
    paths: 'gapic-generator/**'
  workflow_dispatch:
    inputs:
      args:
        description: "Extra command line arguments."
        required: false

jobs:
  github-release:
    if: ${{ github.repository == 'googleapis/gapic-generator-ruby' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - name: Install Ruby 3.0
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
      - name: Install tools
        run: "gem install --no-document toys"
      - name: Execute
        shell: bash
        run: |
          toys release tag-generators -v --remote=origin ${{ github.event.inputs.args }}
